In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from mlxtend.plotting import plot_decision_regions
from matplotlib.colors import ListedColormap

In [55]:
adult = pd.read_csv('/home/raghav/Desktop/introduction to machine learning/adult.csv')
adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [56]:
X = adult.iloc[:,[0,1,2,4,5,6,7,8,9,12,13]]
y = adult.iloc[:,14]

In [57]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(X['workclass'])
X['workclass'] = le.transform(X['workclass'])
le.fit(X['marital-status']) 
X['marital-status'] = le.transform(X['marital-status'])
le.fit(X['occupation'])
X['occupation'] = le.transform(X['occupation'])
le.fit(X['relationship'])
X['relationship'] = le.transform(X['relationship'])
le.fit(X['race'])
X['race'] = le.transform(X['race'])
le.fit(X['gender'])
X['gender'] = le.transform(X['gender'])
le.fit(X['native-country'])
X['native-country'] = le.transform(X['native-country'])
le.fit(y)
y = le.transform(y)


#le.fit(X['marital-status'])
#le.transform(X['marital-status'])

/home/raghav/.local/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/raghav/.local/lib/python3.5/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/raghav/.local/lib/python3.5/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/raghav/.local/lib/python3.5/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/raghav/.local/lib/python3.5/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/raghav/.local/lib/python3.5/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/raghav/.local/lib/python3.5/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [58]:
X

,age,workclass,fnlwgt,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country
0,25,4,226802,7,4,7,3,2,1,40,39
1,38,4,89814,9,2,5,0,4,1,50,39
2,28,2,336951,12,2,11,0,4,1,40,39
3,44,4,160323,10,2,7,0,2,1,40,39
4,18,0,103497,10,4,0,3,4,0,30,39
5,34,4,198693,6,4,8,1,4,1,30,39
6,29,0,227026,9,4,0,4,2,1,40,39
7,63,6,104626,15,2,10,0,4,1,32,39
8,24,4,369667,10,4,8,4,4,0,40,39
9,55,4,104996,4,2,3,0,4,1,10,39
10,65,4,184454,9,2,7,0,4,1,40,39
11,36,1,212465,13,2,1,0,4,1,40,39
12,26,4,82091,9,4,1,1,4,0,39,39
13,58,0,299831,9,2,0,0,4,1,35,39
14,48,4,279724,9,2,7,0,4,1,48,39
15,43,4,346189,14,2,4,0,4,1,50,39
16,20,7,444554,10,4,8,3,4,1,25,39
17,43,4,128354,9,2,1,5,4,0,30,39
18,37,4,60548,9,6,7,4,4,0,20,39
19,40,4,85019,16,2,10,0,1,1,45,0
20,34,4,107914,13,2,13,0,4,1,47,39
21,34,4,238588,10,4,8,3,2,0,35,39
22,72,0,132015,4,0,0,1,4,0,6,39
23,25,4,220931,13,4,10,1,4,1,43,29
24,25,4,205947,13,2,10,0,4,1,40,39
25,45,6,432824,9,2,3,0,4,1,90,39
26,22,4,236427,9,4,1,3,4,1,20,39
27,23,4,134446,9,5,7,4,2,1,54,39
28,54,4,99516,9,2,3,0,4,1,35,39
29,32,6,109282,10,4,10,1,4,1,60,39
...,...,...,...,...,...,...,...,...,...,...,...
48812,30,0,33811,13,4,0,1,1,0,99,39
48813,34,4,204461,16,2,10,0,4,1,60,39
48814,54,4,337992,13,2,4,0,1,1,50,24
48815,37,4,179137,10,0,1,4,4,0,39,39
48816,22,4,325033,8,4,11,3,2,1,35,39
48817,34,4,160216,13,4,4,1,4,0,55,39
48818,30,4,345898,9,4,3,1,2,1,46,39
48819,38,4,139180,13,0,10,4,2,0,45,39
48820,71,0,287372,16,2,0,0,4,1,10,39
48821,45,7,252208,9,5,1,3,4,0,40,39
48822,41,0,202822,9,5,0,1,2,0,32,39
48823,72,0,129912,9,2,0,0,4,1,25,39
48824,45,2,119199,12,0,10,4,4,0,48,39
48825,31,4,199655,14,0,8,1,3,0,30,39
48826,39,2,111499,12,2,1,5,4,0,20,39
48827,37,4,198216,12,0,13,1,4,0,40,39
48828,43,4,260761,9,2,7,0,4,1,40,26
48829,65,6,99359,15,4,10,1,4,1,60,39
48830,43,7,255835,10,0,1,2,4,0,40,39
48831,43,6,27242,10,2,3,0,4,1,50,39
48832,32,4,34066,6,2,6,0,0,1,40,39
48833,43,4,84661,11,2,12,0,4,1,45,39
48834,32,4,116138,14,4,13,1,1,1,11,36
48835,53,4,321865,14,2,4,0,4,1,40,39
48836,22,4,310152,10,4,11,1,4,1,40,39
48837,27,4,257302,12,2,13,5,4,0,38,39
48838,40,4,154374,9,2,7,0,4,1,40,39
48839,58,4,151910,9,6,1,4,4,0,40,39
48840,22,4,201490,9,4,1,3,4,1,20,39
48841,52,5,287927,9,2,4,5,4,0,40,39

In [59]:
y

array([0, 0, 1, ..., 0, 0, 1])

In [60]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [61]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [62]:
from sklearn.linear_model import Perceptron
ppn = Perceptron()
ppn.fit(X_train_std,y_train)
y_predict = ppn.predict(X_test_std)
print ('misclassified points = %d' %(y_test != y_predict).sum())

misclassified points = 3800

/home/raghav/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:84: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [89]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))

0.740667440115

In [118]:
X = adult.iloc[:,[0,2]]
y= adult.iloc[:,14]
X = X.as_matrix()
X

array([[    25, 226802],
       [    38,  89814],
       [    28, 336951],
       ...,
       [    58, 151910],
       [    22, 201490],
       [    52, 287927]])

In [119]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y)
y = le.transform(y)
y

array([0, 0, 1, ..., 0, 0, 1])

In [125]:
def plot_decision_regions(X, y, classifier,test_idx=None, resolution=0.01):
    markers = ('s', 'x', 'o', '^', 'v')
    colors = ('red', 'blue', 'lightgreen', 'gray', 'cyan')
    cmap = ListedColormap(colors[:len(np.unique(y))])
# plot the decision surface
    x1_min, x1_max = X[:, 0].min() - 1, X[:, 0].max() + 1
    x2_min, x2_max = X[:, 1].min() - 1, X[:, 1].max() + 1
    xx1, xx2 = np.meshgrid(np.arange(x1_min, x1_max, resolution),
    np.arange(x2_min, x2_max))
    Z = classifier.predict(np.array([xx1.ravel(), xx2.ravel()]).T)
    ZeroDivisionError = Z.reshape(xx1.shape)
    plt.contourf(xx1, xx2, Z, alpha=0.4, cmap=cmap)
    plt.xlim(xx1.min(), xx1.max())
    plt.ylim(xx2.min(), xx2.max())
# plot all samples
    X_test, y_test = X[test_idx, :], y[test_idx]
    for idx, cl in enumerate(np.unique(y)):
        plt.scatter(x=X[y == cl, 0], y=X[y == cl, 1],alpha=0.8, c=cmap(idx),marker=markers[idx], label=cl)

In [128]:
plot_decision_regions(X,y,classifier=ppn,test_idx=range(105,150))

MemoryError: